<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>修改收入表</title>
</head>
<body>
<form action="../income" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="Iid" th:value="${income.Iid}">
    姓名：<input type="text" name="realname" th:value="${income.realname}"/><br/>
    身份证号：<input type="text" name="idcard" th:value="${income.idcard}"/><br/>
    手机号：<input type="text" name="phone" th:value="${income.phone}"/><br/>
    离店时间：<input type="date" name="leavedate" th:value="${#dates.format(income.leavedate,'yyyy-MM-dd')}"/><br/>
    价格：<input type="text" name="tprice" th:value="${income.tprice}"/><br/>
    <input type="submit" class="submit"/>
</form>
</body>
</html>