<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="../book" method="post">
    <input type="hidden" name="_method" value="put"/>
    <input type="hidden" name="bid" th:value="${book.bid}">
    <input type="date" name="creadate" th:value="${book.creadate}" style="display: none"/>
    用户名：<input type="text" name="uname" th:value="${book.uname}"><br/>
    房型：<input type="text" name="tname" th:value="${book.tname}"><br/>
    真实姓名：<input type="text" name="realname" th:value="${book.realname}"/><br/>
    身份证号：<input type="text" name="idcard" th:value="${book.idcard}"/><br/>
    手机号：<input type="text" name="phone" th:value="${book.phone}"/><br/>
    住店时间：<input type="date" name="arrivedate" th:value="${#dates.format(book.arrivedate,'yyyy-MM-dd')}"/><br/>
    离店时间：<input type="date" name="leavedate" th:value="${#dates.format(book.leavedate,'yyyy-MM-dd')}"/><br/>
    价格：<input type="text" name="tprice" th:value="${book.tprice}"/><br/>
    状态：<select id="edit-status" name="bremark" required="required" th:value="${book.bremark}">
    <option value="1">已入住</option>
    <option value="0">预定中</option>
    </select><br/>
    <input type="submit" class="submit"/>
</form>
</body>
</html>